body {
    height: 100vh;
    width: 100vw;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    width: 100%;
}

.nav-a {
    font-size: large;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.nav-a:hover,
.nav-a:active {
    text-shadow: 0.4rem 0.4rem 0.4rem black;
}

.nav-img {
    height: 5rem;
    width: auto;
}

main {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

section {
    width: 60%;
    border: 0.2rem grey solid;
    margin-top: 3rem;
    margin-right: 1rem;
}

h2 {
    padding: 0rem 1rem;
    color: white;
}

.section-p {
    padding: 0rem 1rem;
    color: white;
}

.top-scorer {
    align-self: flex-end;
}

footer {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-p {
    font-size: large;
    color: grey;
    font-weight: bold;
}

.footer-a {
    font-size: large;
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

.footer-a:hover,
.footer-a:active {
    text-shadow: 0.4rem 0.4rem 0.4rem blue;
}